MONGODB_URI="mongodb://username:password@host1:27017,host2:27017,host3:27017/cep_dunyasi?ssl=true&replicaSet=atlas-xxxxx-shard-0&authSource=admin&retryWrites=true&w=majority&appName=cepdunyasi"
MONGODB_SERVER_SELECTION_TIMEOUT_MS="10000"

IYZICO_API_KEY="your-iyzico-api-key"
IYZICO_SECRET_KEY="your-iyzico-secret-key"
IYZICO_BASE_URL="https://sandbox-api.iyzipay.com"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

AUTH_SESSION_SECRET="replace-with-a-long-random-secret"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="replace-with-a-strong-password"

CLOUDFLARE_R2_ACCOUNT_ID="fbc5fc2743d23df0880ef09d457227ab"
CLOUDFLARE_R2_ACCESS_KEY_ID="0e8d644a490ac7f5d9ce7645615fdb6f"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="9b6760057fd7af76ef5b96dbc1f4482633301a5c6ca7e36f50954f086ee4c093"
CLOUDFLARE_R2_BUCKET_NAME="cep-dunyasi-media"
CLOUDFLARE_R2_PUBLIC_BASE_URL="https://pub-61300b39f2f74b558f60e467b6c2d588.r2.dev"
